{% extends "base.html" %}

{% load static %}

<!-- Changes Page Name -->
{% block title %}
    Registration Success
{% endblock title %}

<!-- Adds Paths into menu-->
{% block sidenav %}
    <li class="nav-item">
        <a class="nav-link" href="/"> Home </a>
    </li>
{% endblock sidenav %}

<!-- Sharkbait oh haa haa -->
{% block content %}
<h1 align="center"> Registration Successful</h1>

<p>
    To login <a href="{% url 'login' %}?next=/"> Click Here </a>
</p>
{% endblock content %}
